
.joinChatContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #e9eaf2;
}

.join-chat{
    margin-bottom: 40px;
   color: #117ccf;
   font-size: 27px;
   font-weight: bold;
}

input{
    min-width: 300px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 10px;
    font-size: 16px;
    outline: none;
    margin-top: 15px;
}

button{
    width: 200px;
    height: fit-content;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 10px;
    font-size: 16px;
    margin-top: 15px;
    background-color: #117ccf;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}